.sb-containerOur {
    margin-left: 162px;
    margin-right: 162px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1440px) {
    .sb-containerOur {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 992px) {
    .sb-containerOur {
        margin-left: 16px;
        margin-right: 16px;
    }

}