.sb-containerOur {
    margin-left: var(--main-Hmargin-Dscreen);
    margin-right: var(--main-Hmargin-Dscreen);

    display: flex;
    flex-wrap: wrap;
}
.sb-ourTitle{
    color: var(--color-aboutus-text);
}


@media (max-width: 1440px) {
    .sb-containerOur {
        margin-left: var(--main-Hmargin-Lscreen);
        margin-right: var(--main-Hmargin-Lscreen);
    }
}

@media (max-width: 992px) {
    .sb-containerOur {
        margin-left: var(--main-Hmargin-Mscreen);
        margin-right: var(--main-Hmargin-Mscreen);
    }

}