.navbar {
    background-color: var(--color-body);
    border-bottom: 1px solid var(--color-background);
    padding: 1.25rem clamp(1rem, 5vw, 5rem);

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .logo-section {
            display: flex;
            align-items: center;
            gap: 6.86px;

            .logo-img {
                width: 2.5rem;
            }

            .logo-text {
                font-weight: 600;
                font-size: clamp(1.1rem, 0.5vw + 1rem, 1.25rem);
                color: var(--color-titles);
            }
        }

        .nav-menu {
            display: flex;
            gap: clamp(0.8rem, 1.5vw, 1.5rem);

            .nav-link {
                font-size: clamp(0.8rem, 0.2vw + 0.75rem, 1rem);
                line-height: 150%;
                color: var(--color-p);
                padding: 0.75rem clamp(0.5rem, 1vw, 1.25rem);
                border-radius: 8px;
                transition: 0.3s;
                font-weight: 500;

                &:hover {
                    color: white;
                    background-color: #262626;
                }

                &.active {
                    color: white;
                    background-color: #262626;
                }
            }
        }

        .contact-btn {
            background-color: var(--button-color);
            color: var(--color-background);
            font-weight: 500;
            padding: 0.8rem 1.2rem;
            border-radius: 6px;
            font-size: 0.9rem;
            line-height: 150%;
            transition: 0.3s;

            &:hover {
                opacity: 0.9;
                transform: translateY(-2px);
            }
        }

        .mobile-toggle {
            display: none;
            padding: 14.5px 10.25px;
            border-radius: 6px;
            background-color: var(--color-background);
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem clamp(1rem, 3vw, 1.5rem);
        .navbar-container {
            position: relative;
            .mobile-toggle {
                display: flex;
            }

            .nav-menu {
                position: absolute;
                top: 140%;
                left: 0;
                width: 100%;
                background-color: var(--color-body);
                flex-direction: column;
                align-items: center;
                padding: 2rem 0;
                transform: translateX(-150%);
                transition: 0.4s ease-in-out;
                border-bottom: 1px solid var(--color-background);
                z-index: 100;

                &.open {
                    transform: translateY(0);
                }
            }

            .nav-actions {
                display: none;
            }
        }
    }
}