.navbar {
    background-color: var(--color-body);
    border-bottom: 1px solid var(--color-background);
    padding: 1.25rem 10.125rem ;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .logo-section {
            display: flex;
            align-items: center;
            gap: 0.43rem;

            .logo-img {
                width: 3.75rem;
            }

            .logo-text {
                font-weight: 600;
                font-size: 1.55rem;
                color: var(--color-titles);
            }
        }

        .nav-menu {
            display: flex;
            gap: clamp(0.8rem, 1.5vw, 1.5rem);

            .nav-link {
                font-size: 1.125rem;
                line-height: 150%;
                color: var(--color-p);
                padding: 0.875rem 1.75rem;
                border-radius: 8px;
                transition: 0.3s;
                font-weight: 500;

                &:hover {
                    color: white;
                    background-color: #262626;
                }

                &.active {
                    color: white;
                    background-color: #262626;
                }
            }
        }

        .contact-btn {
            background-color: var(--button-color);
            color: var(--color-background);
            font-weight: 500;
            padding: 1rem 1.5rem;
            border-radius: 6px;
            font-size: 1.125rem;
            line-height: 150%;
            transition: 0.3s;

            &:hover {
                opacity: 0.9;
                transform: translateY(-2px);
            }
        }

        .mobile-toggle {
            display: none;
            padding: 0.91rem 0.64rem;
            border-radius: 6px;
            background-color: var(--color-background);
        }
    }
}
@media (max-width: 1440px) {
    .navbar {
        padding: 1.375rem 5rem;
        .navbar-container {
            .logo-section {
                .logo-img {
                    width: 2.5rem;
                }
                .logo-text {
                    font-size: 1.13rem;
                }
            }
            .contact-btn {
            font-size: 0.875rem;
            padding: 0.75rem 1.125rem;
            }
        .nav-menu {
            .nav-link {
                font-size: 0.875rem;
                padding: 0.75rem 1.375rem;
                }
            }
        }
        
    }
}
@media (max-width: 992px) {
    .navbar {
        padding: 1.44rem 1rem;
        .navbar-container {
            position: relative;
            .mobile-toggle {
                display: flex;
            }

            .nav-menu {
                position: absolute;
                top: 140%;
                left: 0;
                width: 100%;
                background-color: var(--color-body);
                flex-direction: column;
                align-items: center;
                padding: 2rem 0;
                transform: translateX(-150%);
                transition: 0.4s ease-in-out;
                border-bottom: 1px solid var(--color-background);
                z-index: 100;

                &.open {
                    transform: translateX(0);
                }
            }

            .nav-actions {
                display: none;
            }
        }
    }
}