
.sb-borderTitle{
    /* padding-bottom: 80px; */
    border: 1px var(--color-background) solid;
    margin-bottom: 0px;
}
.sb-title-sec h2 {
    padding: 120px 50px 0px;
    font-family: Barlow;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: var(--color-titles);
}
.sb-title-sec .padding-OurH2{
    padding: 100px 50px ;
}
.sb-title-sec .sb-desc1-sec {
    padding: 14px 0px 40px 50px;
    max-width: 1100px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.6%;
    color: var(--color-p);
}

.sb-title-sec .sb-desc2-sec {
    margin-left: 50px;
    margin-bottom: 80px;
    width: fit-content;
    font-size: 22px;
    padding: 12px 14px;
    border-radius: 6px;
    background-color: var(--color-background);
    color: var(--color-titles);
}

@media (max-width: 1440px) {


    .sb-title-sec h2 {
        padding:80px 40px 0px;
        font-size: 38px;
    }
    .sb-title-sec .mid-padding{
        padding:80px  50px;
    }

    .sb-title-sec .sb-desc1-sec {
        max-width: 979px;
        padding: 10px 0px 40px 40px;
        font-size: 16px;
    }

    .sb-title-sec .sb-desc2-sec {
        margin-left: 40px;
        margin-bottom: 40px;
        border-radius: 6px;
        padding: 10px;
        font-size: 18px;
    }
}
@media (max-width: 992px) {

    .sb-title-sec h2 {
        padding:40px 16px 0px;
        font-size: 28px;
    }
    .sb-title-sec .min-padding{
        padding:40px 24px;
    }

    .sb-title-sec .sb-desc1-sec {
        
        padding: 6px 16px 30px;
        font-size: 14px;
    }

    .sb-title-sec .sb-desc2-sec {
        margin-left: 16px;
        border-radius: 6px;
        padding: 10px;
        font-size: 16px;
    }
}