body {
  background-color: var(--color-body);
}

.kh-faq-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  max-width: 1600px;
  /* margin: 80px auto; */
  margin-top: 60px;
  margin-bottom: 60px;

}

.kh-toggle-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.kh-toggle-icon {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.kh-faq-item.active .kh-toggle-icon {
  transform: rotate(180deg);
  filter: brightness(1.2);
}

/* Vertical lines */
.kh-faq-container::before,
.kh-faq-container::after,
.kh-middle-line {
  content: "";
  position: absolute;
  top: -60px;
  bottom: -60px;
  width: 1px;
  background-color: var(--color-rarbackground);
  opacity: 0.6;
  pointer-events: none;
  z-index: 1;
}

.kh-faq-container::before {
  left: 0;
}

.kh-faq-container::after {
  right: 0;
}

.kh-middle-line {
  left: 50%;
  transform: translateX(-50%);
}

/* Columns */
.kh-faq-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
  border-top: 1px solid var(--color-rarbackground);
  border-bottom: 1px solid var(--color-rarbackground);

}

.kh-faq-column:first-child {
  border-right: 1px solid var(--color-rarbackground);
}

/* FAQ item */
.kh-faq-item {
  padding: 34px 50px;
  border-bottom: 1px solid var(--color-rarbackground);
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
}

.kh-faq-column .kh-faq-item:last-child {
  border-bottom: none;

}

/* Header */
.kh-faq-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.kh-left {

  display: flex;
  align-items: center;
  gap: 20px;

}

/* Number */
.kh-faq-number {
  background: linear-gradient(180deg, #2E2E2E 0%, #1A1A1A 100%);
  border: 1px solid #333;
  border-radius: 12px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-titles);
  padding: 20px;
  border-bottom: none;
}

.kh-faq-number.active {
  color: var(--button-color);
}

/* Question */
.kh-faq-header h3 {
  font-size: 19px;
  color: var(--color-titles);
  width: 524px;
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
  flex-grow: 1;

}

.kh-faq-header h3.active {
  color: #C5FF66;
}

/* Toggle */
.kh-toggle-btn {
  width: 34px;
  height: 34px;
  background: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kh-faq-item.active .kh-toggle-btn {
  transform: rotate(45deg);
  color: var(--button-color);

}

/* Answer */
.kh-faq-p {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease;
  color: var(--color-p);
  font-size: 15px;
  line-height: 1.4;
  padding-left: 64px;
  width: 620px;
  color: rgba(230, 230, 230, 0.9);
}

.kh-faq-p>p {
  overflow: hidden;
}

.kh-faq-p.open {

  grid-template-rows: 1fr;
  line-height: 150%;
  color: rgb(230, 230, 230, 0.9);
  width: 588px;
  padding-left: 100px;
}


/* Show more */
.kh-show-more-wrapper {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.kh-show-more-btn {
  background: var(--color-body);
  border: 1px solid var(--color-background);
  color: var(--color-titles);
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.kh-show-more-btn:hover {
  color: var(--button-color);
  border-color: var(--button-color);
}


@media (max-width: 1440px) {


  .kh-faq-item {
    padding: 12px;
    min-height: 100px;
    /* حسب أطول عنصر */
  }

  .kh-faq-number {
    width: 62px;
    height: 62px;
    font-size: 24px;
    border-radius: 8px;
    padding: 16px;
    gap: 10px;
  }

  .kh-faq-header h3 {
    font-size: 18px;
    width: 412px;
  }

  .kh-faq-p {
    padding-left: 55px;
    width: 400px;
    font-size: 14px;
  }

  .kh-faq-p.open {
    width: 474px;
    padding-left: 75px;

  }
}
@media (max-width: 992px) {
  .kh-faq-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: calc(100% - (var(--main-Hmargin-Dscreen) * 2));
    margin: 0 auto;
  }

  .kh-faq-column-wrapper {
    width: 100%;
  }

  .kh-faq-column:first-child {
    border-right: none;
  }

  .kh-faq-item {
    padding: 20px;
  }

  /* .kh-left {
    gap: 12px;
  } */

  .kh-faq-number {
    width: 36px;
    height: 36px;
    font-size: 13px;
  }

  .kh-faq-header h3 {
    font-size: 14px;
    width: 500px;
  }


  .kh-faq-container::before,
  .kh-faq-container::after,
  .kh-middle-line {
    display: none;
  }
}

@media screen and (max-width: 390px) {

  .faq-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .kh-faq-number {
    width: 36px;
    height: 36px;
    font-size: 20px;
    padding: 25px;
    border-radius: 8px;
  }

  .kh-faq-container {
    display: block;
    width: 100% !;
    max-width: 370px;
    height: auto;
    overflow: visible;
    pad: 24px;
  }

  .kh-faq-column {
    width: 100% !important;
    border-right: 1px solid var(--color-rarbackground) !important;
    border-left: 1px solid var(--color-rarbackground);
    border-bottom: 1px solid var(--color-rarbackground);
  }


  .kh-faq-column .kh-faq-item:last-child {
    border-bottom: none;
  }

  .kh-faq-header h3 {
    width: 192px;
    font-size: 16px !important;
    line-height: 1.4;
    flex: 1;
    padding-top: 8px;
  }


  .kh-faq-p.open {
    width: 310px;
    padding: 14px;

  }

  .kh-show-more-wrapper {
    display: flex !important;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .kh-show-more-btn {
    background-color: var(--color-body);
    color: var(--color-titles);
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid var(--button-color);
    cursor: pointer;
  }
}