

.kh-faq-container {
   background-color: var(--color-background);
  position: relative;
  display: flex;
   width: calc(100% - (var(--main-Hmargin-Dscreen) * 2));
  /* margin-left: 60px; */
  margin-top: 60px;
  background-color: var(--color-body);
    margin-bottom: 60px;
}



.kh-faq-container::before,
.kh-faq-container::after {
  content: "";
  position: absolute;
  top: -60px;      /* يمتد للسيكشن اللي فوق */
  bottom: -60px;   /* يمتد للسيكشن اللي تحت */
  width: 1px;
  background-color: var(--color-rarbackground);
  pointer-events: none;

}

.kh-faq-container::before {
  left: 0;
}

.kh-faq-container::after {
  right: 0;
}


.kh-faq-container .kh-middle-line {
  position: absolute;
  top: -60px;
  bottom: -60px;
  left: 50%;
  width: 1px;
  background-color: var(--color-rarbackground);
  transform: translateX(-50%);
  pointer-events: none;
}

.kh-faq-column {
  display: flex;
  flex-direction: column;
  flex: 1; 

}


/* .kh-faq-column:first-child {
  border-right: 1px solid var(--color-rarbackground);

} */


.kh-toggle-btn.active {
  color: var(--button-color); /* نفس اللون المستخدم للرقم والنص */
}

.kh-faq-item {
  padding: 30px;
  border-top: 1px solid var(--color-rarbackground) ;
  border-bottom: 1px solid var(--color-rarbackground);
  transition: all 0.3s ease;
}


.kh-faq-item:last-child {
  border-bottom: 1px solid var(--color-rarbackground);

}
.kh-faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* gap: 20px; */
}

.kh-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.kh-faq-number {
  background-color: var( --color-body);
  border: 1px solid var( --color-background);
  border-radius: 6px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--color-titles);
   background: linear-gradient(to bottom, #2E2E2E,  #242424);
}


.kh-faq-number.active {
  color: var(--button-color);
}

.kh-faq-header h3 {
  font-size: 14px;
  color: var(--color-titles);
  font-weight: 400;
  width: 350px;

}

.kh-toggle-btn {
  background: none;
  border: none;
  color: var(--color-titles);
  font-size: 26px;
  cursor: pointer;
}



/* .kh-faq-p {
  margin-top: 20px;
  padding-left: 60px; 
}

.kh-faq-p p {
  color: #98989a;
  line-height: 1.6;
  font-size: 14px;
} */

.kh-faq-number.active,
.kh-faq-header h3.active {
  color: var(--button-color);
}

.kh-faq-p {
  max-height: 0;
  overflow: hidden;
color: var( --color-p);
  transform: translateY(-5px);
  transition: 
    max-height 0.4s ease,
    opacity 0.3s ease,
    transform 0.2s ease;

}

.main-margin {
    margin-right: var(--main-Hmargin-Dscreen);
    margin-left: var(--main-Hmargin-Dscreen);
}
.kh-faq-p.open {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
  margin-top: 10px;
}

.kh-show-more-wrapper {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.kh-show-more-btn {
  background: var(--color-body);
  border: 1px solid var(--color-background);
  color:var(--color-titles);
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.kh-show-more-btn:hover {
  color: var(--button-color);
  border-color:var(--button-color);
}

@media (max-width: 768px) {

  .kh-faq-container {
    flex-direction: column;
    border-bottom: none;

  }
 .kh-show-more-wrapper {
    display: block;
  }



  .kh-faq-column:first-child {
    border-right: none;
    width: 100%;
  }
.kh-faq-column:nth-child(2) {
  border-right: none;
    width: 100%;
}

 
  .kh-faq-column:first-child .kh-faq-item:last-child {
    border-bottom: 1px solid var(--color-body);
  }
}

@media (max-width: 1440px) {


  .kh-faq-item {
    padding: 24px;
  }

  .kh-faq-number {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  .kh-faq-header h3 {
    font-size: 15px;
  }

  .kh-faq-p {
    padding-left: 55px;
  }

  .main-margin {
    margin-right: var(--main-Hmargin-Dscreen);
    margin-left: var(--main-Hmargin-Dscreen);
}
}


@media (max-width: 992px) {
  .kh-faq-container {
    flex-direction: column;
   align-items: center;
  width: calc(100% - (var(--main-Hmargin-Dscreen) * 2));
  }

  .kh-faq-column:first-child {
    border-right: none;
  }

  .kh-faq-item {
    padding: 20px;
  }

  .kh-left {
    gap: 12px;
  }

  .kh-faq-number {
    width: 36px;
    height: 36px;
    font-size: 13px;
  }

  .kh-faq-header h3 {
    font-size: 14px;
  }



  .kh-faq-container::before,
  .kh-faq-container::after,
  .kh-middle-line {
    display: none;
  }
.main-margin {
    margin-right: var(--main-Hmargin-Dscreen);
    margin-left: var(--main-Hmargin-Dscreen);
}

}
/* Media query للشاشات أقل من 390px */
@media (max-width: 390px) {

  .kh-faq-container {
    /* استخدام كامل العرض */
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.kh-faq-column:nth-child(2) {
   display: flex;
    justify-content: center;
    align-items: center;
}

  /* .kh-faq-column {
    width: 100%;
  } */

  .kh-faq-item {
   padding-left: 20px;
   padding-right: 20px;
  }

  .kh-faq-number {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }

  .kh-faq-header h3 {
    font-size: 13px;
    width: 200px; /* أصغر عرض للنصوص */
  }

  .kh-faq-p {
    padding-left: 40px; /* أصغر مسافة للنصوص الداخلية */
  }

  .kh-show-more-btn {
    padding: 10px 20px;
    font-size: 12px;
  }
}




