.G-H_ConnectionWrapper {
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border: 1px solid var(--color-background);
    border-top-width: 0;

}

@media screen and (max-width:992px) {
    .G-H_ConnectionWrapper {
        height: 144px;
    }
}

@media screen and (max-width:992px) {
    .G-H_ConnectionWrapper {
        height: 237px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}