.trusted-companies {
    margin-top: -50px;
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trusted-title-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20PX 34px;
    gap: 10px;
    border: 1px solid var(--color-background);
    background-color: var(--color-body);
    border-radius: 100px;
    width: fit-content;
    position: relative;
    top: 10px;
    margin-bottom: -20px;
    z-index: 10;

}

.trusted-title {
    color: var(--color-text);
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.trusted-logos {
    margin-top: 29px;
    max-width: 90%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 0 40px 0;
    margin-top: 29px;

}

.trusted-logos img {
    padding: 20px 40px;
}

@media (max-width: 992px) {
    .trusted-title-box{
        padding: 14px 24px;

    }
    .trusted-title{
        font-size: 14px;
    }
    .trusted-logos{
        width: 355px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-top: 20px;
        border: 1px solid var( --color-background);
        border-radius: 0px 1px 1px 1px;
        padding: 0;
    }
    .trusted-logos img{
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
        border-bottom: 1px solid var( --color-background);
        border-right: 1px solid var( --color-background);
    }
    .trusted-logos img:nth-child(2n){
        border-right: none;
    }
    .trusted-logos img:nth-last-child(-n+2){
        border-bottom: none;
    }
}