.companyName {
    display: flex;
    justify-content: space-between;
    margin-right: var(--main-Hmargin-Dscreen);
    margin-left: var(--main-Hmargin-Dscreen);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #262626;
}

.companyName .company {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 60px 0;
    width: clamp(70px, 100%, 100%);
}

.company img {
    height: auto;
    object-fit: contain;
}

@media (max-width: 1440px) {
    .company img {
        max-width: 100px;
    }

    .companyName .company {
        margin: 50px 0;
    }

    .companyName {
        margin-right: var(--main-Hmargin-Lscreen);
        margin-left: var(--main-Hmargin-Lscreen);
    }
}



@media screen and (max-width: 992px) {
    .companyName {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin-right: var(--main-Hmargin-Mscreen);
        margin-left: var(--main-Hmargin-Mscreen);
    }

    .company img {
        max-width: 100px;
    }

    .companyName .company {
        border: 1px solid rgb(66, 66, 66);
        margin: 0;
        padding: 30px 0;
    }
}