.mn-hero-section {
    position: relative;
    background-color: var(--color-body);
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 6.26rem);
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #262626;
}

/* Squares background */
.mn-grid-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/home/squares.png');
    background-repeat: repeat;
    opacity: 0.4;
    z-index: 1;
}

/* Mountain */
.mn-mountain-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: url('assets/img/home/home_page_hero.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 2;
    pointer-events: none;
}

/* container for content */
.mn-container {
    position: relative;
    width: 100%;
    z-index: 3;
    padding: 7rem 10.125rem 0;
    display: flex;
    justify-content: center;
}

.mn-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.13rem;
}

.mn-hero-title {
    font-weight: 600;
    font-size: 4.25rem;
    color: var(--color-titles);
}

.mn-description-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: #24242433;
    backdrop-filter: blur(12px);
    border: 1px solid var(--color-background);
    border-radius: 12px;
    padding: 1.5rem 2.5rem;
    /* 36px V, 40px H */
    font-size: 1.375rem;
    /* 22px */
    color: var(--color-footer-link);
}

/* description box on mobile screen*/
.mn-description-on-mScreen {
    display: none;
}

.mn-tag {
    background: var(--color-background);
    padding: 0.75rem 0.875rem;
    /* 12px V, 14px H */
    border-radius: 6px;
    color: var(--color-titles);
}

.mn-hero-buttons {
    display: flex;
    gap: 1.5rem;
}

.mn-btn {
    font-weight: 500;
    font-size: 1.125rem;
    /* 18px */
    padding: 1.125rem 1.75rem;
    /* 18px V, 28px H */
    border-radius: 8px;
    transition: 0.3s;
}

.mn-btn-primary {
    background-color: var(--button-color);
    color: var(--color-background);
}

.mn-btn-outline {
    border: 1px solid var(--color-rarbackground);
    color: var(--color-titles);
    background-color: #24242433;
    backdrop-filter: blur(12px);
    border-radius: 10px;
}
.ze-description {
    z-index: 10;
    font-size: 18px;
    padding: 20px 34px;
    border-radius: 100px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    position: absolute;
    bottom: -34px;
    color: #fdfffa;
}

/* Media Queries */

@media (max-width: 1440px) {
    .mn-hero-section {
        min-height: calc(100vh - 5.2rem);
    }

    .mn-container {
        padding: 7rem 5rem;
    }

    .mn-hero-title {
        font-size: 3rem;
    }

    .mn-description-box {
        font-size: 1.125rem;
        padding: 1.125rem 1.875rem;
    }

    .mn-tag {
        padding: 0.5rem 0.625rem;
    }

    .mn-btn {
        font-size: 0.875rem;
        padding: 0.875rem 1.25rem;
    }

    .ze-description {
        font-size: 14px;
        padding: 14px 24px;
        bottom: -26px;
    }
}

@media (max-width: 992px) {
    .mn-mountain-bg {
        height: 50%;
    }

    .mn-hero-section {
        min-height: calc(100vh - 5.8rem);
        margin: 0;
    }

    .mn-container {
        padding: 4rem 1rem;
    }

    .mn-hero-title {
        font-size: 2.12rem;
    }

    .mn-description-box {
        font-size: 1rem;
        padding: 1.125rem 1.25rem;
        display: none;
    }

    .mn-description-on-mScreen {
        display: block;
    }

    .mn-description-on-mScreen p {
        font-size: 1rem;
        padding: 1.125rem 1.25rem;
        background: #24242433;
        backdrop-filter: blur(12px);
        border: 1px solid var(--color-background);
        border-radius: 8px;
        color: var(--color-footer-link);
    }

    .mn-tag {
        border: none;
        white-space: nowrap;
        background: #24242433;
        backdrop-filter: blur(12px);
        color: var(--color-footer-link);
        padding: 0;
    }

    .ze-description {
        bottom: -28px;
    }
}
