
.hero-section {
    position: relative;
    background-color: var(--color-body);
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 6.26rem);
}

/* Squares background */
.grid-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/home/squares.png');
    background-repeat: repeat;
    opacity: 0.4;
    z-index: 1;
}

/* Mountain */
.mountain-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: url('assets/img/home/home_page_hero.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 2;
    pointer-events: none;
}

/* container for content */
.container {
    position: relative;
    width: 100%;
    z-index: 3;
    padding: 7rem 10.125rem 0;
    display: flex;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.13rem;
}

.hero-title {
    font-weight: 600;
    font-size: 4.25rem;
    color: var(--color-titles);
}

.description-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: #24242433;
    backdrop-filter: blur(12px);
    border: 1px solid var(--color-background);
    border-radius: 12px;
    padding: 1.5rem 2.5rem;
    /* 36px V, 40px H */
    font-size: 1.375rem;
    /* 22px */
    color: var(--color-footer-link);
}

.tag {
    background: var(--color-background);
    padding: 0.75rem 0.875rem;
    /* 12px V, 14px H */
    border-radius: 6px;
    color: var(--color-titles);
}

.hero-buttons {
    display: flex;
    gap: 1.5rem;
}

.btn {
    font-weight: 500;
    font-size: 1.125rem;
    /* 18px */
    padding: 1.125rem 1.75rem;
    /* 18px V, 28px H */
    border-radius: 8px;
    transition: 0.3s;
}

.btn-primary {
    background-color: var(--button-color);
    color: var(--color-background);
}

.btn-outline {
    border: 1px solid var(--color-rarbackground);
    color: var(--text-white);
    background-color: #24242433;
    backdrop-filter: blur(12px);
    border-radius: 10px;
}

/* Media Queries */

@media (max-width: 1440px) {
    .hero-section {
        min-height: calc(100vh - 5.2rem);
    }

    .container {
        padding: 7rem 5rem;
    }

    .hero-title {
        font-size: 3rem;
    }

    .description-box {
        font-size: 1.125rem;
        padding: 0.5rem 0.625rem;
    }

    .btn {
        font-size: 0.875rem;
        padding: 0.875rem 1.25rem;
    }
}

@media (max-width: 992px) {
    .mountain-bg {
        height: 50%;
    }
    .hero-section {
        min-height: calc(100vh - 5.8rem);
    }
    .container {
        padding: 5rem 1rem;
    }

    .hero-title {
        font-size: 2.125rem;
    }

    .description-box {
        font-size: 1rem;
        padding: 1.125rem 1.25rem;
        background: #24242433;
    }
    .tag {
        background: #24242433;
        backdrop-filter: blur(12px);
        color: var(--color-footer-link);
    }
}
