.rb-flex-works {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* تنسيق كروت قسم work */
.rb-cardwork {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--color-p);
    padding-bottom: 80px;
    border: 1px solid rgba(62, 62, 62, 0.315);

    .rb_picther {
        width: 90%;
        margin: 20px auto;
    }

    .rb-sectitel {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
    }

}

.rb_text {
    padding-bottom: 20px;
}

.rb-firstTitel {
    padding: 40px 24px;
    border: 1px solid rgba(63, 62, 62, 0.178);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-footer-link);
    width: 100%;
    padding-left: 4%;

}

.rb-p-work {
    width: 98%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    color: var(--color-footer-link);
    padding: 10px 20px 20px 50px;
}

.rb-icon-work {

    display: block;

}

.rb-link-work {
    padding: 12px 8px;
    background-color: rgba(62, 62, 62, 0.459);
    border-radius: 6px;
    color: var(--color-footer-link);
}

.toggle-btn {
    color: var(--color-background);
    background-color: var(--button-color);
    padding: 3%;
    border-radius: 20%;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgba(88, 79, 79, 0.507);
}

.rb-icon-link {
    display: inline-block;
    cursor: pointer;
    padding: 3%;
    background-color: rgba(62, 62, 62, 0.459);
    border-radius: 6px;
}
@media (min-width: 1440px) {
    .rb-firstTitel{
        font-size: 26px;
    }
    .rb-sectitel{
        font-size: 24px;
    }
    .rb-p-work{
        font-size: 18px;
    }
    .rb-link-work{
        border-radius: 8px;
        padding: 12px 10px;
    }
    .rb-firstTitel{
            padding-left: 6%;
    }
}

@media (max-width: 992px) {
    .rb-flex-works {
        display: block;
    }
.rb-firstTitel{
        padding-left: 2%;
}

    .rb-cardwork {
        width: 100%;
        padding-bottom: 40px;

        p {
            font-size: 12px;
        }

    }
    .rb-icon-link{
        margin-top: 45px;
        padding: 4%;
    }

    .rb-sectitel {
        font-size: 18px;
        flex-wrap: wrap;
    }

}