body{
    background-color: var(--color-body);
}
header{
    width: 100%;
    padding: 1.25rem 5rem;
}
.hero{
    width: 100%;
    min-height: 796px;
    text-align: center;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #262626;
    position: relative;
    z-index: 1;
}
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/img/home/squares.png");
    background-repeat: repeat;
    opacity: 0.5;
    z-index: -2;
}
.hero::after{
    content: "";
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("/assets/img/home/home_page_hero.png");
    background-size: contain;
    background-repeat:no-repeat ;
    z-index: -1;
    width: 100%;
    max-width: 1579px;
    min-height: 454px;
}
.hero-title{
    width: 100%;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: var(--color-text);
    font-size: 68px;
    padding: 16px 8px;
}
.hero-categories{
    max-width: 100%;
    border: 1px solid var(--color-background);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(38, 38, 38, 1);
    background-color: #24242433;
    backdrop-filter: blur(12px);
    border-radius: 12px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    padding: 24px 40px;
    gap: 6px;
    color: var(--color-footer-link);
}
.category{
    display: inline-flex;
    align-items: center;
    padding: 12px 14px;
    border: 1px solid #262626;
    background-color: var(--color-background);
    border-radius: 8px;
    color: var(--color-text);
    font-family: "Barlow" , sans-serif;
    font-size: 22px;
    font-weight: 400;

}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
    margin-bottom: 243px;
}
.works-btn{
    background-color:rgba(36, 36, 36, 0.2);
    border: 1px solid var(--color-rarbackground);
    border-radius: 10px;
    backdrop-filter: blur(12px);
    padding: 18px 28px;
    font-family: "Barlow" , sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.contact-btn{
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 10px;
    padding: 18px 28px;
    font-family: "Barlow" , sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.works-btn a{
    text-decoration: none;
    color:var(--color-titles);
}
.contact-btn a{
    text-decoration: none;
    color: var(--color-background);
}
.trusted-companies{
    margin-top: -50px;
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trusted-title-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20PX 34px;
    gap: 10px;
    border: 1px solid var( --color-background);
    background-color: var(--color-body);
    border-radius: 100px;
    width: fit-content;
    position: relative;
    top: 10px;
    margin-bottom: -20px;
    z-index: 10;

}

.trusted-title{
    color: var(--color-text);
    font-family: "Barlow" , sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.trusted-logos{
    margin-top: 29px;
    max-width:90% ;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 0 40px 0;
    margin-top: 29px;

}
.trusted-logos img{
    padding: 20px 40px;
}

@media screen and (max-width: 992px){
    .header{
        padding-left: 16px;
        padding-right: 16px;
    }
    .hero-title{
        width: 358px;
        font-size: 34px;
    }
    .hero-categories{
        border-radius: 8px;
        padding: 18px 20px;
        max-width: 358px;
    }
    .hero::after{
        width: 120%;
        top: 300px;
        min-width: 300px;
    }
    .category{
        border: none !important;
        font-size: 16px !important;
        color: var(--color-footer-link);
    }
    .trusted-title-box{
        padding: 14px 24px;

    }
    .trusted-title{
        font-size: 14px;
    }
    .trusted-logos{
        width: 355px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-top: 20px;
        border: 1px solid var( --color-background);
        border-radius: 0px 1px 1px 1px;
        padding: 0;
    }
    .trusted-logos img{
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
        border-bottom: 1px solid var( --color-background);
        border-right: 1px solid var( --color-background);
    }
    .trusted-logos img:nth-child(2n){
        border-right: none;
    }
    .trusted-logos img:nth-last-child(-n+2){
        border-bottom: none;
    }

}