/* Footer Base Styles */
.footer {
    background-color: var(--color-body);
    color: var(--color-titles);
    padding: 40px clamp(20px, 5vw, 80px);
    border-top: 1px solid var(--color-background);
    display: flex;
    flex-direction: column;
    gap: clamp(25px, 3vw, 40px);
}

/* Top Section: Logo, Nav, Social */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-background);
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 40px;
}

.footer-logo h1 {
    font-size: clamp(20px, 1vw + 16px, 24px);
    font-weight: 600;
}

.footer-nav {
    display: flex;
    gap: clamp(15px, 2vw, 25px);
}

.footer-nav a {
    color: var(--color-p);
    transition: color 0.3s;
    font-size: clamp(14px, 0.5vw + 12px, 16px);
}

.footer-nav a:hover {
    color: var(--button-color);
}

/*  Social Media Box  */
.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 10px 10px 20px;
    border: 1px solid var(--color-background);
    border-radius: 12px;
    background: var(--color-body);
}

.footer-social span {
    color: var(--color-p);
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%);
    border-radius: 6px;
}

.social-box img {
    width: 20px;
}

/* Bottom Section: Contact & Copyright  */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    gap: clamp(15px, 2vw, 30px);
}

.info-item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 0 12px;
    border-bottom: 1px solid var(--color-background);
}

.info-item .icon img {
    width: 22px;
}

.info-item span {
    color: var(--color-p);
}

.copyright {
    color: var(--color-footer-link);
    font-size: 14px;
}

/* Responsive Design for Mobile */
@media (max-width: 992px) {
    .footer-social , .footer-bottom ,
    .contact-info {
        width: 100%;
    }

    .footer {
        align-items: center;
        text-align: center;
    }

    .footer-top , .footer-bottom {
        gap: 30px;
    }

    .footer-nav {
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 0;
        border-top: 1px solid var(--color-background);
        border-bottom: 1px solid var(--color-background);
    }

    .footer-social , .contact-info , .footer-bottom , .footer-top{
        flex-direction: column;
    }

    .contact-info {
        align-items: center;
    }
}
