/* Footer Base Styles */
.footer {
    background-color: var(--color-body);
    color: var(--color-titles);
    padding: 3.125rem 10.125rem;
    border-top: 1px solid var(--color-background);
    display: flex;
    flex-direction: column;
    gap: clamp(25px, 3vw, 40px);

    /* Top Section */
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--color-background);
    }

    .footer-logo {
        display: flex;
        align-items: center;
        gap: 0.625rem;

        img {
            width: 3.75rem;
        }

        h1 {
            font-size: 1.55rem;
            font-weight: 600;
        }
    }

    .footer-nav {
        display: flex;
        gap: clamp(15px, 2vw, 25px);

        a {
            color: var(--color-p);
            transition: color 0.3s;
            font-size: 1rem;

            &:hover {
                color: var(--button-color);
            }
        }
    }

    /* Social Media Box */
    .footer-social {
        display: flex;
        align-items: center;
        gap: 0.94rem;
        padding: 10px 10px 10px 20px;
        border: 1px solid var(--color-background);
        border-radius: 12px;
        background: var(--color-body);

        span {
            color: var(--color-p);
        }

        .social-icons {
            display: flex;
            gap: 0.625rem;
        }

        .social-box {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
            border: 1px solid;
            border-image-source: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%);
            border-radius: 6px;

            img {
                width: 1.25rem;
            }
        }
    }

    /* Bottom Section */
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact-info {
            display: flex;
            gap: clamp(15px, 2vw, 30px);

            .info-item {
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 0 0 0.75rem;
                border-bottom: 1px solid var(--color-background);

                .icon img {
                    width: 1.375rem;
                }

                span {
                    color: var(--color-p);
                }
            }
        }

        .copyright {
            color: var(--color-footer-link);
            font-size: 0.875rem;
        }
    }
}
    /* Responsive Design Inside Nesting */
@media (max-width: 1440px) {
    .footer {
        padding: 2.5rem 5rem ; 

        .footer-logo {
            img {
                width: 2.5rem;
            }

            h1 {
                font-size: 1.13rem;
            }
        }

        .footer-nav {
            a {
                font-size: 0.875rem;
            }
        }
    }
}

@media (max-width: 992px) {
        .footer {
            align-items: center;
            text-align: center;
            padding: 1.875rem 1rem;
        }
        

        .footer-social,
        .footer-bottom,
        .contact-info,
        .footer-top {
            width: 100%;
            flex-direction: column;
        }

        .footer-top,
        .footer-bottom {
            gap: 1.875rem;
        }

        .footer-nav {
            flex-wrap: wrap;
            justify-content: center;
            border-top: 1px solid var(--color-background);
            border-bottom: 1px solid var(--color-background);
        }

        .contact-info {
            align-items: center;
        }
    }