.rb-card {
    background-color: var(--color-body);
    color: var(--color-p);
    border: solid 1px #2E2E2E;
    padding: 40px;
    min-height: 455px;
    font-family: 'Barlow';
    display: flex;
    flex-direction: column;


    img {
        padding: 14px;
        background-image: linear-gradient(45deg, #242424, #6b686863);
        border: 1px solid #2E2E2E;
        border-radius: 10px;
        gap: 10px;
    }

    h1 {
        padding: 14px 0px;
    }

    p {
        height: 148px;
        color: #e6e6e6ec;
        font-weight: 400;
        font-size: 89%;
        line-height: 150%;
        letter-spacing: -0.6%;
    }

    button {
        padding: 16px;
        width: 90%;
        /* background-color: var(--color-button-text); */
        background-color: #64636349;
        border-radius: 8px;
        color: var(--color-p);
        cursor: pointer;
        margin-top: auto;
        align-self: center;
    }

}
button:hover {
    background-color: #91c73a85;
}

.rb-type2 .rb-titel {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.rb-cards {
/*     width: 100%; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.rb-type2 {
    width: calc(88% /2 );
    min-height: 292px;


}

.rb-type3 {
    width: calc(88% /3);
}



@media (max-width: 992px) {
    .rb-card {
        width: 100%;

    }

    .rb-cards {
        display: block;
    }

}