.rb-card {
    background-color: var(--color-body);
    color: var(--color-p);
    border: solid 1px #2e2e2e57;
    padding: 40px;
    min-height: 510px;
    display: flex;
    flex-direction: column;

    .ze-img-container {
        width: fit-content;
        padding: 1.25rem;
        background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%),
                    linear-gradient(229.29deg, rgba(158, 255, 0, 0.2) -68.25%, rgba(158, 255, 0, 0) 32.16%);
        border-image-source: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%);
        border-radius: 8px;
        margin-bottom: 30px;
    }
    img {
        width: 1.875rem;
    }

    h1 {
        font-size: 24px;
    }

    p {
        color:var(--color-p);
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: -0.6px;
        width: 91%;
        padding-top: 14px;
    }

    button {
        padding: 14px 0;
        width: 100%;
        /* background-color: var(--color-button-text); */
        background-color: #262626;;
        border-radius: 6px;
        color: var(--color-p);
        cursor: pointer;
        margin-top: auto;
        align-self: center;
    }

}
button:hover {
    background-color: #91c73a85;
}

.rb-type2 .rb-titel {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-bottom: 30px;
}

.rb-cards {
/*     width: 100%; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap; 
}

.rb-type2 {
    width: calc(100% /2 );
    min-height: 292px; 
    padding: 60px;
    .ze-img-container {
        margin-bottom: 0;
    }
    p {
        padding: 0;
    }
}
.rb-type3 {
    width: calc(100% /3);
}

@media (min-width: 1441px) {

    .rb-card{
        padding: 3.125rem;
        img{
            width: 2.5rem;
        }
        h1{
            font-size: 30px;
        }
        p{
            font-size: 18px;
            line-height: 24px;
            padding-top: 20px;
        }
        button {
            padding: 18px 0;
        }
        .ze-img-container {
            margin-bottom: 40px;
        }
    }

    .rb-type2{
        padding: 80px;
        min-height: 298px; 
        .ze-img-container {
            margin-bottom: 0px;
        }
        h1{
            font-size: 26px;
        }
        p{
            width: 87%;
            font-size: 1.25rem;
            line-height: 150%;
        }
        .rb-titel {
            margin-bottom: 20px;
        }
    }
    .rb-type3{
        min-height: 567px;
    }
}

@media (max-width: 992px) {
    .rb-card {
        min-height: 344px;
        padding: 30px;
        width: 100%;
        .ze-img-container {
            padding: 1rem;
            margin-bottom: 0;
        }
        p{
            width: 100%;
            margin-bottom: 20px;
            padding-top: 0;
            font-size: 14px;
        }
        img {
            width: 1.625rem;
        }
        button{
            width: 100%;
        }
    }
    .rb-type2{
        min-height: 267px; 
    p{
        margin-bottom: 0px;
    }}

    .rb-type3{
        .rb-titel {
            display: flex;
            align-items: center;
            padding-bottom: 24px;
            gap: 15px; 
        }
    }

    .rb-cards {
        display: block;
    }
    .rb-titel{
        h1{
            font-size: 20px;
            width: 100%;
        }
    }

}