.ksh-about-container {
  background-color: var(--color-body, #1A1A1A);
  color: var(--color-titles);
  margin: 0 auto;
  padding-block: 120px;
  position: relative;

}

.ksh-about-container::before,
.ksh-about-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--color-rarbackground, #333);
}


.ksh-about-container::before {
  left: clamp(32px, 9vw, 160px);
}

.ksh-about-container::after {
  right: clamp(32px, 9vw, 160px);
}

.ksh-about-inner {

  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ksh-about-content {
  flex: 1;
  max-width: 650px;
}

.ksh-about-content h2 {
  font-size: 38px;

  width: 598px;
  height: 50px;
}

.ksh-about-content p {
  padding-top: 16px;
  width: 598px;
  height: 210px;
  line-height: 150%;
  color: rgba(230, 230, 230, 0.9);
}


.ksh-about-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

}

.ksh-visual-box {
  position: relative;
  width: 598px;
  height: 571px;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;

}

/* Background image */
.ksh-visual-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #acff246e;
  background-blend-mode: color;
  filter: grayscale(100%) brightness(0.25) contrast(1.1);
  opacity: 0.9;
  z-index: 1;
}

/* Pattern */
.ksh-visual-pattern {
  position: absolute;
  inset: 0;
  background-image: url("/assets/img/about/squares.png");
  background-repeat: repeat;
  background-size: 20px 20px;
  opacity: 0.6;
  z-index: 2;
}

/* Green radial overlay */
.ksh-visual-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center,
      rgba(158, 255, 0, 0.12) 20%,
      rgba(26, 26, 26, 0.9) 100%);
  z-index: 2;
}

/* Vertical crosshair */
.ksh-visual-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(158, 255, 0, 0) 0%,
      rgba(158, 255, 0, 0.6) 50%,
      rgba(158, 255, 0, 0) 100%);
  z-index: 3;
}

/* Horizontal crosshair */
.ksh-visual-box .crosshair-horizontal {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right,
      rgba(158, 255, 0, 0) 0%,
      rgba(158, 255, 0, 0.6) 50%,
      rgba(158, 255, 0, 0) 100%);
  z-index: 3;
}



.ksh-cube-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 150.7043px;
  height: 150px;
  aspect-ratio: 1 / 1;
  background-image: url("/assets/img/about/SquareUp_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 27px;
  box-shadow: inset 0 0 23px 5px rgba(255, 255, 255, 0.7);
  filter: drop-shadow(0 0 30px rgba(235, 239, 229, 0.6));
  transition: transform 0.3s ease;
}

.ksh-cube-img:hover {
  transform: translate(-50%, -55%);
}



@media (max-width: 1440px) {

  .ksh-about-container::before {
    left: clamp(25px, 5.5vw, 125px);
  }

  .ksh-about-container::after {
    right: clamp(25px, 5.5vw, 125px);
  }

  .ksh-about-inner {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin: 0 150px;
  }

  .ksh-about-content h2 {
    margin-bottom: 10px;
    height: auto;
  }

  /* 
  .ksh-about-content {
    width: 500px;
    height: 288px;
  } */

  .ksh-about-content h2 {
    font-size: 38px;
    height: 46px;
    width: 490px;
  }

  .ksh-about-content p {
    font-size: 18px;
    width: 490px;
  }

  .ksh-visual-box {
    width: 490px;
    height: 483px;

  }

  .ksh-cube-img {
    width: 100px;
    height: 100px;
  }

  .ksh-about-container {
    gap: 40px;
  }
}


@media (max-width: 992px) {

  .ksh-about-container::before {
    left: clamp(20px, 2vw, 100px);
  }

  .ksh-about-container::after {
    right: clamp(20px, 2vw, 100px);
  }

  .ksh-about-container {
    padding-inline: 40px;
  }
    .ksh-about-inner {
      padding: 0;
      gap: 32px;
      display: flex;
      justify-content: center;
    }
  
    /* .ksh-about-content {
      width: 100%;
    } */
  
    .ksh-about-content h2 {
      font-size: 24px;
    }
  
    .ksh-about-content p {
      font-size: 16px;
      width: 450px;
      height: 168px;
    }
  
    .ksh-visual-box {
      width: 358px;
      height: 358px;
    }
  
    .ksh-cube-img {
      width: 80px;
      height: 80px;
      border-radius: 16px;
    }
    }
  
  
    @media (max-width: 390px) {
      .ksh-about-container::before {
        left: clamp(16px, 1vw, 80px);
      }
  
      .ksh-about-container::after {
        right: clamp(16px, 1vw, 80px);
      }
  
      .ksh-about-container {
        flex-direction: column;
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .ksh-about-inner {
        padding: 0;
        gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
  
      .ksh-about-content,
      .ksh-visual-box {
        width: 330px;
        height: 330px;
        max-width: 100%;
        box-sizing: border-box;
      }
  
      .ksh-about-content h2 {
        font-size: 28px;
        width: 100%;
        line-height: 150%;
        display: block;
        word-break: normal;
        white-space: normal;
  
      }
  
      .ksh-about-content p {
        font-size: 13px;
        line-height: 150%;
        width: 350px;
      }
  
      .ksh-visual-box {
        aspect-ratio: 1 / 1;
        height: 348px;
        width: 348px;
      }
  
      .ksh-cube-img {
        width: 80px;
        height: 80px;
        border-radius: 12px;
        box-shadow: inset 0 0 15px 5px rgba(255, 255, 255, 0.856);
      }
    }