.rb-cta {
    color: var(--color-footer-link);
    font-family: 'Barlow';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 1px;
    border: 1px solid #4947478a;
}

.rb-ctaflex {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    .image-shadow {
        width: 100.47px;
        height: 100px;
        padding: 20px 23px;
        background-image: url("assets/img/prosess/cta-logo.png");
        background-color: var(--button-color);
        background-size: 52%;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 23px 5px rgba(255, 255, 255, 0.856);
        border-radius: 14px;
        flex-shrink: 0;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    h4 {
        font-family: Inter;
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
    }

    button {
        padding: 14px 20px;
        border-radius: 6px;
        background-color: var(--button-color);
        gap: 8px;
        font-weight: 500;

    }
}

.rb-container {
    gap: 24px;
    padding: 22px 30px;
    border: 1px solid #302f2f5d;
    background-color: #4947471a;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    margin: 40px 0;

    p {
        display: inline-block;
        color: var(--color-p);
        font-size: 14px;
        font-weight: 400;
        background-color: #262626;; 
        padding: 10px 14px;
        border-radius: 6px;
        line-height: 150%;
        margin: 0 10px;
    }
}

@media (min-width: 1441px) {
    .rb-cta {
        padding: 80px 0;
    }
    .rb-container {
        margin-top: 50px;
        padding: 26.5px 40px;
        p {
            font-size: 20px;
        }
    }

    .rb-ctaflex {
        button {
            padding: 18px 34px;
            font-size: 18px;
        }

        .image-shadow {
            width: 150.7px;
            height: 150px;
            padding: 30px 35px;

        }

        h2 {
            font-size: 30px;
        }

        h4 {
            font-size: 18px;
        }
    }
}


@media (max-width: 992px) {
    .rb-cta {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .rb-ctaflex {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 20px;

        .image-shadow {
            margin: 10px auto;
            width: 80.38px;
            height: 80px;
            padding: 16px 18px;
            margin-bottom: 18px;
        }

    }

    .rb-cta-titel {
        h2 {
            font-size: 20px;
        }

        h4 {
            font-size: 14px;
            line-height: 150%;
        }
    }

    .rb-container {
        margin: 15px 0 0;
        span {
            display: block;
            margin: 30px 0 0;
        }
    }

    .rb-container {
        p {
            margin: 14px 0 0;
            font-size: 16px;
            width: 270px;
        }

        button {
            width: 270px;
        }
    }
}