@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
/* Fonts Added */

:root {
  /* Color Variables */
    --color-body: #1A1A1A;
    --color-background: #262626;
    --color-rarbackground: #333333;
    --button-color: #9EFF00;
    --color-aboutus-text: #D8FF99;
    --color-footer-link: #98989A;
    --color-text: #FDFFFA;
    --color-titles: #FFFFFF;
    --color-p: #E6E6E6;
    /* Margin on Disktop */
    --main-Hmargin-Dscreen: 10.125rem;
    /* --main-margin-left-Dscreen: 10.125rem; */
    /* Margin on Laptop */
    --main-Hmargin-Lscreen: 5rem;
    /* --main-margin-left-Lscreen: 5rem; */
    /* Margin on Mobile */
    /* --main-margin-right-Mscreen: 1rem; */
    --main-Hmargin-Mscreen: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.main-margin {
    margin-right: var(--main-Hmargin-Dscreen);
    margin-left: var(--main-Hmargin-Dscreen);
}
/* Main Margin On Laptop */
@media (max-width: 1440px) {
  .main-margin {
      margin-right: var(--main-Hmargin-Lscreen);
      margin-left: var(--main-Hmargin-Lscreen);
    }
}
/* Main Margin On Mobile */
@media (max-width: 992px) {
  .main-margin {
      margin-right: var(--main-Hmargin-Mscreen);
      margin-left: var(--main-Hmargin-Mscreen);
    }
}
a {
  text-decoration: none;
  color: var(--color-titles);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* 
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* main {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
} */

