.Contact-Section{
    height: 100vh;
    width: 100%;
    margin-bottom: 200px;
    position: relative;
}
.rb-bg{
    height: 100vh;
}
.rb-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 4%;
.rb-shadow{
        width: 8vw;
        height: 8vw;
        background-image: url("assets/img/home/SquareUp_logo.png");
        background-color: var(--button-color);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.856);
        border-radius: 14px;
        margin: 40px auto;
}
    h1{
        font-size: 38px;
        font-weight: 600;
        padding: 20px 0px;
        color: var(--color-titles);
    }
    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        width: 83%;
        color: var(--color-footer-link);
    }
    button{
        padding: 18px 34px;
        border-radius: 6px;
        background-color: var(--button-color);
        gap: 8px;
        font-weight: 500;
        margin: 30px 0;
    } 
}
@media (max-width: 992px) {
    .rb-style{
            position: absolute;
            top: 0%;
            right: 2%;
        .rb-shadow{
        width: 4.5vh;
        height: 4.5vh;
        margin: 20px auto;
        }
            button{
        padding: 14px 24px;
            }
        h1{
            font-size: 24px;
            padding: 10px 0;

        }
        p{
            font-size: 14px;
            width: 95%;
        }
    }
    .rb-bg{
        height: 463px;
    }

}