.Contact-Section {
    height: 30.19rem;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #acff246e;
}

.rb-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    /* grayscale(100%) removes original image colors to adopt the theme color */
    filter: grayscale(100%) brightness(0.6) contrast(1.1);
    opacity: 89%;
    z-index: 1;
}

.rb-pattern {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('assets/img/home/squares.png');
    background-repeat: repeat;
    opacity: 50%;
    z-index: 2;
}
.rb-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 3;

    .rb-shadow {
        width: 3.768rem;
        height: 3.75rem;
        background-image: url("assets/img/prosess/cta-logo.png");
        background-color: var(--button-color);
        background-size: 52%;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 14px 4px rgba(255, 255, 255, 0.856);
        border-radius: 10px;
        margin: 20px auto;
    }

    h1 {
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0px;
        color: var(--color-titles);
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        width: 83%;
        color: var(--color-footer-link);
    }

    button {
        padding: 14px 24px;
        border-radius: 6px;
        background-color: var(--button-color);
        gap: 8px;
        font-weight: 500;
        margin: 30px 0;
    }
}

@media (min-width: 1441px) {
    .Contact-Section {
        height: 37.32rem;
    }

    .rb-style {
        .rb-shadow {
            width: 5.0237rem;
            height: 5rem;
            border-radius: 14px;
        }

        h1 {
            font-size: 38px;
        }

        p {
            font-size: 18px;
        }

        button {
            padding: 18px 34px;
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
    .Contact-Section {
        height: 24.44rem;
    }

    .rb-style {

        .rb-shadow {
            width: 3.25rem;
            height: 3.125rem;
            margin: 20px auto;
        }

        button {
            padding: 14px 24px;
        }

        h1 {
            font-size: 24px;
            padding: 10px 0;

        }

        p {
            font-size: 14px;
            width: 95%;
        }
    }

    .rb-bg {
        height: 463px;
    }

}